/* Here we can set styles for this lab page that we don't want to effect others pages */
h1,h2,h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}
/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #a30d58;
    background-color: #7eb31b;
  }
  body {
    background-color: #7a475c;
  }
  #content {
    margin: 10px;
    padding: 10px;
    border: solid 1px #2deece;
    background-color: #0fc48d;
  }
  